@model BusShuttleManager.Models.BusCreateModel
@{
    ViewData["Title"] = "Create Bus";
}
<h2>Add new bus</h2>
<a asp-action="Busses">Back to List</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BusName" class="control-label"></label>
                <input asp-for="BusName" class="form-control" />
                <span asp-validation-for="BusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
